body {
    background: rgb(29,135,171);
    background: linear-gradient(180deg, rgba(29,135,171,1) 0%, rgba(16,31,77,1) 100%);
    overflow: hidden;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    pointer-events: none; 
    z-index: 1; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    position: relative;
    width: 90px;
    height: 90px;
    z-index:2;
}

.navbar .links a {
    font-family: Roboto, sans-serif;
    font-size: 40px;
    text-align: right;
    color: #F7EFEF;
    font-size: 20px;
    text-decoration: none;
    padding-left: 40px;
    padding-right: 40px;
    z-index: 2;
    position: relative;
    margin-bottom: 10px;
}

.name {
    position: relative;
}

.name p {
    display: flex;
    font-family: Andale Mono, monospace;
    font-size: 200px;
    color: #F7EFEF; 
    padding-top: 10px;
    position: relative;
    z-index:2;
    letter-spacing: 80px;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.name img {
    position: absolute;
    width: 20%; 
    max-width: 250px; 
    height: 250px; 
    z-index: 3; 
    bottom: 0; 
    left: 50%; 
    transform: translateX(-100%); 
}
.aboutme p{
    position: relative;
    font-family: Roboto, sans-serif; 
    font-size: 40px;
    color: #BAE5F9;
    z-index: 2;
    text-align: center;
    align-items: center;
    margin-top: 5px;
}

.socials {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 15px; 
    position: relative; 
}

.socials a img {
    width: 40px;
    height: 40px;
    z-index: 2;
    padding: 10px;
    align-items: center;
    justify-content: center;
    position: relative;
}